[user]
	email = bddicken@gmail.com
	name = bddicken
[merge]
	tool = /usr/local/bin/git-diff.sh
	#tool = vimdiff
	#conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	branch = false
